<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio | Web Developer</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
   
    <%- include('partials/navbar') %>
    <header class="hero">
        <h1>Hi, I'm <span class="highlight">Blon Tamang Bipin</span>.</h1>
        <p>A Web Developer specializing in clean code and functional design.</p>
        <a href="/projects" class="btn">View My Work</a>
    </header>

     <%- include('partials/footer') %>
</body>
</html>